body {
    background-color: #fff6f0;
    text-align: center;
    color: #264653;
    font-family: "Mansalva", cursive;
  }
  
  h1 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #2a9d8f;
    font-size: 3em;
  }
  
  .subheading {
    font-size: 1.5em;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .block {
    margin: 0.5em;
    width: 120px;
    height: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .block:nth-child(2n) .letter {
    color: #e9c46a;
  }
  .block:nth-child(3n) .letter {
    color: #264653;
  }
  .block:nth-child(5n) .letter {
    color: #2a9d8f;
  }
  .block:nth-child(7n) .letter {
    color: #f4a261;
  }
  
  .letter {
    font-weight: bold;
    font-size: 4em;
    color: #e76f51;
    text-transform: uppercase;
  }
  
  .selectedLetter {
    background-color: #eed9cb;
    border-radius: 50%;
  }
  